.main-container {
    max-width: 90%;
}

@media (min-width: 576px) {
    .main-container {
        max-width: 90%;
    }
}

@media (min-width: 768px) {
    .main-container {
        max-width: 90%;
    }
}

@media (min-width: 992px) {
    .main-container {
        max-width: 90%;
    }

    .app-container {
        margin-top: 90px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        max-width: 85%;
    }
}

.main-container {
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
}

.section {
    width: 100%;
    margin-right: auto !important;
    margin-left: auto !important;
    padding: 50px 0px;
}

.text-white {
    color: white !important;
}

.text-light {
    font-weight: lighter;
}

.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}

.text-small {
    font-size: small;
}

.text-overline{
    text-transform: uppercase;
}
.mb-0 {
    margin-bottom: 0px;
}

.mb-1 {
    margin-bottom: 8px;
}

.mb-2 {
    margin-bottom: 16px;
}

.mb-3 {
    margin-bottom: 24px;
}

.mb-4 {
    margin-bottom: 32px;
}

.mb-5 {
    margin-bottom: 40px;
}

.no-padding {
    padding: 0 !important;
}

.img-responsive {
    max-width: 100%;
    max-height:100%;
}
